---
import Hamburger from "./Hamburger.astro"
import Navigation from "./Navigation.astro"
---
<header style="margin-left: -5rem;">
    <nav>
        <Hamburger/>
        <Navigation/>
    </nav>
</header>